h1 A note-y app
p by #{myname}
p double click to create a message

#msgcanvas
  
#proto_msg(display:none)
  .msg
    .inputbar
      form
        textarea.msginput(placeholder='type a note...')
        span.del x
    .msgarea


script(type='text/javascript', src='/javascripts/msg.js')


#moreparts
