!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js")
    script(type='text/javascript', src='/socket.io/socket.io.js')
    // script(type='text/javascript', src='/javascripts/msg.js')
    // script( src='/socket.io/socket.io.js' )
    
  body!= body