@import 'border'

body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
  
#moreparts
  display block
  
#proto_msg
  display none
  
.msg
  border 1px solid red
  border-radius 5px
  width 180px
  height 90px
  position absolute
  background-image url(/images/notepad.png)
  background-position -13px -110px
  
.message
  width: 150px
  border-width: 1px
  border-style: solid
  border-color: red
  background-image: url(/images/darkworld.jpg)
  border-radius 5px
  color: white
  
#inputbox1
  border-radius 10px
  margin-top 4px
  
textarea
  border-radius 5px
  border 1px solid blue
  width: 175px
  height: 15px
  background transparent

